/*font-family: 'Comfortaa', cursive;*/
/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Nunito', sans-serif;*/
/*font-family: 'Libre Baskerville', serif;*/

.brand {
    font-family: 'Helvetica', sans-serif;
    font-size: 7em;
    font-weight: 800;
    color: #282828;
    position: fixed;
    bottom: 6%;
    left: 5%;
}

body {
    margin: 0;
    padding: 0;
    /*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
    /*background: #333;*/
    background-attachment: fixed;
    background-size: cover;
}

#video-background {
    /*  making the video fullscreen  */
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

.links {
    text-align: right;
    font-size: 2em;
    color: white;
    line-height: 2;
    margin-right: 100px;
    /*margin-top: -150px;*/
    float: right;
    right: -1%;
    position: fixed;
    bottom: 6%;
}
a:hover {
    text-decoration: none;
    color: rgba(255,255,255,0.9) !important;
}

a {
    color: rgba(255,255,255,0.5) !important;
}

.description {
    font-size: 0.3em;
    font-weight: 200;
    line-height: 1.3;
    width: 40%;
    /*margin-left: 5%;*/
    font-family: "Open Sans";
    font-style: italic;
}